.avatar-container {
    text-align: center;
    margin: 20px 0 40px;
}

.avatar-text {
    color: var(--sky-blue);
    transition: ease-in-out 0.2s;
    line-height: 1.5;
}

.avatar-text:hover {
    color: var(--sky-blue-tint);
    cursor: pointer;
}

.avatar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.avatar-list .create-avatar {
    transition: ease-in-out 0.1s;
    opacity: 0.8;
}

.avatar-list .create-avatar.light img {
    background-color: #C2C2C2;
    border-radius: 50%;
}

.avatar-list .create-avatar:hover {
    cursor: pointer;
    opacity: 1;
}